.AdminPage {
    font-family: sans-serif;
}
.group .item .label:after {
    content: ": ";
}

.group .FormValueList .item .label:after {
    content: "";
}
.orders .confirmed .TableView TD[column='order_date'] {
    white-space: nowrap;

}

.orders .confirmed .TableView TD[column='userID'] {
    white-space: nowrap;

}

.orders .confirmed .TableView TD[column='items'] {
    white-space: nowrap;
}

.orders .confirmed .TableView TD[column='note'] {
    max-width: 100px;
}




.products.list .TableView .viewport .ImageCellRenderer {
    /*max-width:200px;*/
}

.products.list .FormRenderer[name='ProductFilterInputForm'] {
    flex-direction: row;
}

.products.list .FormRenderer[name='KeywordSearchForm'] {
    flex-direction: row;
    margin-top:20px;
}

.orders.details .panel {
    display:block;
}
.orders.details .panel.order_items .group {
    display:block;
}
.orders.details .group {
    display:inline-block;
    vertical-align:top;
    padding:10px;
}


.orders.details .viewport {

    display:table;
    border-collapse:separate;
    border:1px solid #cccccc;
    margin-top:20px;
    margin-bottom:20px;

}

.orders.details .viewport .line {
    display: table-row;
}

.orders.details .viewport .line SPAN {
    display: table-cell;
    font-weight: bold;
    padding: 5px;
    border:1px solid #cccccc;
    text-align: center;
}

.orders.details .viewport .line .item {
    display: table-cell;
    vertical-align: middle;
    border:1px solid #cccccc;
    padding: 5px;
}

.orders.details .viewport .line .item.pos {
    text-align: center;
}
.orders.details .viewport .line .item.photo {
    text-align: center;
}
.orders.details .viewport .line .item.photo IMG {
    min-width:100px;
    min-height:100px;
}
.orders.details .viewport .line .item.qty {
    text-align: center;
}

.orders.details .viewport .line .item.price {
    text-align: right;
}

.orders.details .viewport .line .item.amount {
    text-align: right;
}


.DataIteratorField {
    box-sizing:border-box;
    padding:20px;
}
.DataIteratorField .Caption {
    text-align:right;
}
.DataIteratorItem.SourceAttributeItem {
    margin-bottom:10px;
}
.DataIteratorItem.SourceAttributeItem .SourceAttributeValue {
    background-color: white;
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin: 0;
    padding: 0.2em;
    width:100%;
}

.config.list FORM[name='StoreConfigForm'] {
    min-width:800px;
}
.config.list FORM[name='StoreConfigForm'] TEXTAREA {
    min-height:100px;
}

.AdminPage.logo.list .logo_header {
    padding-top:1em;
    padding-bottom:1em;
}
.AdminPage.logo.list .logo_header LABEL {
    padding-bottom:0.5em;
    margin-bottom:1em;
    display:inline-block;
    /*border-bottom:1px solid gray;*/
}

.AdminPage.logo.list .logo_header IMG {
    display:block;
    max-height:90px;
}
.AdminPage.logo.list .logo_header .ColorButton {
    margin-top:1em;
    display:inline-block;
}

.admin_layout .page_area .page_caption .page_actions .Action[action='facebook'] {
    background-image: url("../images/page_actions/download_csv_facebook.svg");
}
.admin_layout .page_area .page_caption .page_actions .Action[action='google'] {
    background-image: url("../images/page_actions/download_csv_google.svg");
}

.admin_layout .page_area .page_caption .page_actions .Action[action='google_merchant'] {
    /*background-image: url("../images/page_actions/download_csv_google.svg");*/
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}
.admin_layout .page_area .page_caption .page_actions .Action[action='full'] {
    /*background-image: url("../images/page_actions/download_csv_google.svg");*/
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}
.admin_layout .page_area .page_caption .page_actions .Action[action='images'] {
    /*background-image: url("../images/page_actions/download_csv_google.svg");*/
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}

.admin_layout .page_area .page_caption .page_actions .Action[action='export_update'] {
    background-image: url("../../sparkfront/images/icon_sort_desc.svg");
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}
.admin_layout .page_area .page_caption .page_actions .Action[action='import_update'] {
    background-image: url("../../sparkfront/images/icon_sort_asc.svg");
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}


.admin_layout .page_area .TextComponent.help.summary {
    display:block;
    padding-top:1em;
    padding-bottom:1em;
    font-style:italic;
}


.FormRenderer[name='SectionChooserForm'] SELECT {
    /*min-width: min-content;*/
    min-height: 100px;
    min-width:250px;
}

.FormRenderer[layout="VBox"][name] {
    gap:1em;
}

.FormRenderer[layout="VBox"][name] .InputLabel {
    /*border-bottom:3px dashed gray;*/
    font-style: oblique;
    /*padding-bottom: 0.2em;*/
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 120%;
}

.FormRenderer[layout="VBox"][name] .ClassAttributeField .FieldElements {
    grid-template-columns: auto 1fr;
}