.CheckoutPage .base {
    display: flex;
    flex-direction: column;
}

.CheckoutPage .navigation {

    display:flex;
    flex-direction: row;

    border-spacing:10px;
    margin-top:40px;
    margin-bottom:40px;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:0.5em;

}

.CheckoutPage .navigation .checkout_button {
    display:flex;

    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

    gap:0.5em;

    max-width:230px;
    width:230px;

    padding:0.5em;

    border-radius: 64px;
    border:3px solid var(--theme-accent-dark);

    color:black;
    text-transform: uppercase;
    text-decoration: none;
}


.CheckoutPage .navigation .checkout_button .icon {
    display:block;
    min-width:3em;
    min-height:3em;
    width:3em;
    height:3em;
    max-width:3em;
    max-height:3em;
    filter: var(--theme-filter-checkout-icon);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    flex-grow:0;
}
.CheckoutPage .navigation .checkout_button.disabled {
    display:none;
}

.CheckoutPage .navigation .empty .icon {
    background-image:url("../images/cart_clear.svg");
}
.CheckoutPage .navigation .continue_shopping .icon {
    background-image:url("../images/cart_more.svg");
}
.CheckoutPage .navigation .checkout .icon {
    background-image:url("../images/cart_checkout.svg");
}
.CheckoutPage .navigation .edit .icon {
    background-image:url("../images/cart_edit.svg");
}
.CheckoutPage .base {
    padding:1em;

}

.CheckoutPage .base .FormRenderer {
    align-self:center;
    text-align:left;
}

.CheckoutPage .base > .item {
    border-bottom:1px solid #cccccc;
    padding-bottom:1em;
}

.CheckoutPage .base .Caption {
    text-align:left;
}
.CheckoutPage .base .ColorButton {
    margin-top:1em;
}
.CheckoutPage .base .FormRenderer .InputLabel {
    margin-bottom:0.2em;
}

.CheckoutPage .acceptNote {
    text-transform:none;
    padding:1em;
    text-align:center;
}
