.ClassAttributeField .FieldElements {
    /*display: table !important;*/
    /*border-collapse: collapse;*/
    /*width:100%;*/

}

.ClassAttributeField .FieldElements .ClassAttributeItem {
    /*display: table-row;*/

}

.ClassAttributeField .FieldElements .ClassAttributeItem LABEL {
    display: table-cell;
    text-align: right;
    padding:5px;
    margin:0.1em;
}

.ClassAttributeField .FieldElements .ClassAttributeItem INPUT {
    display: table-cell;
    width:100%;
    text-align:left;
    padding:5px;
    border:1px solid #cccccc;
    margin:0.1em;
}
.ClassAttributeField .FieldElements .ClassAttributeItem INPUT::placeholder {
    font-size:1em;
    font-style:italic;
    color: #cccccc;
}

.ClassAttributeField .FieldElements .ClassAttributeItem INPUT[type='hidden'] {
    display: none;
}
