.ContentPage .summary {
    /*padding: 1em;*/
    line-height:110%;
}
.ContentPage .summary A:any-link {
    color: var(--theme-accent);
}
@media screen and (max-width: 1184px) {
    .ContentPage .summary {
        padding: 1em;
    }
}