.NewsPage .section.main>.content {
    display: grid;
    grid-template-columns: 270px auto;
    grid-column-gap: 1em;
    margin-top: 1em;
}

.DatedItem .title {
    font-size: 18px;
    display: block;
    text-align: left;
}

.DatedItem .date {
    font-size: 14px;
    font-style: italic;
}

@media (max-width: 640px) {
    .NewsPage .section.main>.content {
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0.5em;
    }
}