.section.main .content {
    padding: 1em;
    box-sizing: border-box;
    padding-bottom:2em;
    font-size:80%;
}

.column.details {
    display: block;
    margin-top: 1em;
}

.Caption {
    text-align: left;
    background-color: #fafafa;
    padding-left: 2em;
}
.JSONFormDialog[responder='QueryProductFormResponder'] input {
    font-size:120%;
}
.JSONFormDialog[responder='QueryProductFormResponder'] textarea {
    font-size:120%;
    min-height:120px;
    min-width:320px;
}

.JSONFormDialog[responder='OrderProductFormResponder'] input {
    font-size:120%;
}
.JSONFormDialog[responder='OrderProductFormResponder'] textarea {
    font-size:120%;
    min-height:120px;
    min-width:320px;
}