.section.main .content {
    padding: 1em;
    box-sizing: border-box;
    font-size:80%;
    display:grid;
    grid-template-rows: min-content auto;
    gap:1.5em;
    padding-bottom: 5em;
}

.column.details {
    display: block;
    margin-top: 1em;
}

.Caption {
    text-align: left;
    background-color: #fafafa;
    padding-left: 2em;
}



.JSONFormDialog[responder='OrderProductFormResponder'] {

}

.JSONFormDialog[responder='UniCreditProductFormResponder'] {

}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM [field='installmentCount']{
    display:none;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM [field='monthlyPayment']{
    display:none;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] .notice .item SPAN {
    font-weight:bold;
    white-space: nowrap;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] .unilogo {
    text-align:center;
    display:block;
    align-self: center;
}