@media screen and (max-width: 1184px) {
    .main_content.container {
        padding:20px;

    }

    .JSONFormDialog .Inner {
        width:100%;
        height:100%;
    }
    .JSONFormDialog .Content {
        flex-grow: 1;
    }

    .JSONFormDialog FORM {
        align-content: stretch;
        align-self: stretch;
    }
}
