@media (max-width: 900px) {
    .ResultViewFooter {
        flex-direction: column;
        gap:0.5em;
    }
    .ItemView .viewport {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 570px) {
    .section.main .content  {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content auto;
    }
    .section.main .content .BreadcrumbList {
        grid-column: span 1;
    }
    .section.main .content .column.left {
        padding-right:0;
    }

    .section.main .content .category_path {
        padding-left:20px;
        padding-right:20px;
    }
    .section.main .content .column.left .panel .viewport {
        display:none;
    }
    .section.main .content .column.left .panel .Caption {
        color:inherit;
    }
    .section.main .content .column.left .panel .Caption .toggle {
        display:inline-block;
    }
    .section.main .content .column.left .panel .Caption .toggle LABEL {
        margin-left:3em;
        padding-top:0.5em;
        display:inline-block;

    }
    .section.main .content .column.left .panel .Caption span {
        display:none;
    }

    .section.main .content .column.left .panel {
        margin-bottom:0px;
    }
    .section.main .content .column.left .panel {
        border-top:1px solid var(--theme-accent);
    }
    .section.main .content .column.left .panel:last-of-type {
        border-bottom:1px solid var(--theme-accent);
    }
    .section.main .content .column.left .panel .Caption {
        padding-top:0.5em;
        padding-bottom:0.5em;
    }


}
