.ProductListItem {
    border:1px solid #eeeeee;
    container-type: inline-size;
    box-sizing: border-box;
    overflow: hidden;
}
.ProductListItem:hover {
    /*z-index:1;*/
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.55);
    border:0;
}
.ProductListItem A:any-link {
    text-decoration: none;
    color:black;
}

.ProductListItem .wrap {
    position:relative;
    background-color:white;
    display:grid;

    box-sizing:border-box;

    grid-template-rows: minmax(0,calc(100cqw)) 120px;
    container-type: inline-size;
}
.ProductListItem .wrap * {
    /*max-width: calc(100cqw);*/
}

.ProductListItem .photo {

    display:flex;
    justify-content: center;

}
.ProductListItem .photo IMG {
    align-self: center;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    width:100%;
    height:100%;
}

.ProductListItem .photo .discount_label {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--theme-accent);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin-top:10px;
    margin-right:10px;
}

.ProductListItem .details {

    display: grid;
    grid-template-rows: 1fr auto;
}



.ProductListItem .details .product_name {
    white-space: break-spaces;
    display:block;
    font-weight:bold;
    text-align:center;

    box-sizing: border-box;

    margin:0;
    padding:0;
    padding-top:0.5em;
    font-size:inherit;

}

.ProductListItem .details .price_label {
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    font-size:85%;
}

.ProductListItem .details .price_label .price_info {
    text-align:right;
    font-size:1.3em;
    display:block;
    padding:0.5em;
    padding-top:0;
    box-sizing: border-box;
    white-space: nowrap;
    flex-grow:1;
    justify-content: right;
}
.ProductListItem .details .price_label .price_info[name="BGN"] .price {
    flex-direction: row-reverse;
    justify-content: left;
}



.ProductListItem .details .price_label .price_info .price {
    display:flex;
    min-height:1em;
    justify-content: right;
}

.ProductListItem .details .price_label .price_info .price.old {
    text-decoration: line-through;
}



