.section.main .content {
    padding:1em;
    text-align:left;
    font-size:80%;
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-rows: auto 1fr;
    gap:1.5em;
}
.section.main .content .column {
    box-sizing: border-box;
    text-align:left;
}

.section.main .content .column.left {
    margin-bottom:1em;
}

.section.main .content .column.left .panel {
    display: block;
    margin-bottom: 20px;
}

.section.main .content .column.left .panel .viewport {
    display:block;
    margin-bottom:1em;
}

.section.main .content .column.left .panel .viewport .TreeView {
    display:block;
}

.section.main .content .column.left .panel .Caption {
    color: #aaaaaa;
    font-weight: normal;
    display: block;
    padding-top:0;
    padding-bottom:0;
    text-align:left;

    cursor:pointer;
    font-size:110%;
}

.section.main .content .column.left .panel .Caption .toggle {
    display:none;
}
.panel .Caption .toggle {
    display:flex;
    align-items:center;
    justify-items:center;
    gap:0.5em;
}
.panel .Caption .toggle .icon {
    background-repeat:no-repeat;
    background-size:contain;
    aspect-ratio:1/1;
    width:2em;
}
.panel .Caption .toggle .label {
    color:var(--theme-accent-dark);
}

.panel.categories .toggle .icon {
    background-image:url(../images/category_icon.svg);
    filter:var(--theme-filter-checkout-icon);
}

.panel.filters .toggle .icon {
    background-image:url(../images/filter_icon.svg);
    filter:var(--theme-filter-checkout-icon);
}

.section.main .content .column.product_list {
    /*padding-right:20px;*/
}

.TreeView .Action {
    color:black;
}

.TreeView .Node {
    font-size: 1.2em;
}


.TreeView .Node:hover {
    background-color: var(--theme-accent);
}

.TreeView .Node:hover .Handle .Button {
    filter: var(--theme-filter-colorize-white);
}

.TreeView .Node:hover .Action {
    color: white;
    font-weight:normal !important;
    text-decoration:none !important;
    font-weight:bold !important;
}

.TreeView .Node[active='1'] {
    background-color: var(--theme-accent);
}

.TreeView .Node[active='1'] .Handle .Button {
    filter: var(--theme-filter-colorize-white);
}

.TreeView .Node[active='1'] .Action {
    color: white;
    font-weight:normal !important;
    text-decoration:none !important;
    font-weight:bold !important;
}



.panel.filters FORM {
    width:100%;
}
.panel.filters FORM input {
    width:100%;
}

.ItemView {
    width:100%;
    box-sizing:border-box;
    position:relative;
}

.ItemView .viewport {
    text-align:center;
    display: grid;

    align-items:center;
    justify-content: space-evenly;

    margin:0;
    padding:0;
    list-style-type:none;
    gap:1em;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}

.section.main .Caption.category_description {
    text-transform: none;
    text-align: left;
    margin:0;
    padding:0;
    color:inherit;
    font-weight:normal;
    padding-top:1em;
    padding-bottom:1em;
}

.section.main .BreadcrumbList {
    grid-column: span 2

}

.section.main .Caption.category_name {
    /*text-align:left;*/
    padding-top:0;
}
.section.main .category_description {
    padding:1em;
    font-size:120%;


    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    font-weight: inherit;
    unicode-bidi: inherit;
}
.section.main .category_description A:any-link {
    color:var(--theme-accent);
}

.ActiveFilters {
    display: flex;
    font-size: 1.2em;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    color: #aaaaaa;
    font-weight:bold;
}
.ActiveFilters .title {

}
.ActiveFilters .item {
    display: flex;
    gap:0.5em;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    color:black;
    font-weight:normal;
}

.ActiveFilters .item .label {

}
.ActiveFilters .item .label:after {
    content:":";
}
.ActiveFilters .item .clear {
    color: red;
    font-weight: bold;
    cursor: pointer;
    /*width:1em;*/
    /*height:1em;*/
    padding: 0.5em;
    border-radius: 1em;
    border: 1px solid #cccccc;
    display:inline-block;
}
.ActiveFilters button {
    /*margin-left:1em;*/
}
.ListEmpty {
    margin-top:1em;
    font-size:1.5em;
    padding:1em;
    border: 1px solid #cccccc;
}