.ProductDetailsItem {
    display:block;
    width:100%;
    max-width:100%;
    min-width:100%;
    padding:0;
    margin:0;
}

.side_pane {
    display: inline-block;
    max-width: 490px;
    min-width: 490px;
    /*   outline:1px dotted gray; */
    vertical-align: top;
    text-align: left;
    /*   float:right; */
    margin-left: 20px;
    font-size: 1em;
    box-sizing: border-box;
}
.side_pane .disabled {
    display:none;
}

.side_pane .group {
    display:block;

    /*padding-top:1em;*/
    margin-bottom:1em;

    /*border-bottom: 1px solid #c6c6c6;*/
}

.side_pane .group[enabled="0"] {
    display:none;
}

.side_pane .group:last-child {
    border-top:0;
    padding-top:0;
}

.side_pane .group .item {
    display:block;
    vertical-align:top;

}

.side_pane .group.caption {

}

.side_pane .group.caption .summary .value {
    font-size:130%;
}

.side_pane .group.caption .product_name {

    font-size: 1.3em;

    text-transform: uppercase;
    font-weight: bold;

}

.side_pane .group.caption .product_name .value {
    font-size: 1.3em;

    text-transform: uppercase;
    font-weight: bold;
}

.side_pane .group.pricing {
    display: inline-block;
    border:0;
}

.side_pane .group.pricing .price_info {

    font-size: 2em;
    margin-bottom: 10px;
    font-weight:bold;

}

.side_pane .group.pricing .price_info .old {
    text-decoration: line-through;
}



.side_pane .group.details .item {
    margin-top:5px;
    margin-bottom:5px;
    display:block;
}

.side_pane .group.stock_amount {

    border-bottom: 1px solid #cccccc;
    padding-bottom: 1.5em;
    margin-bottom: 0.5em;

}

.side_pane .group.attributes {

    text-align:left;

    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    padding-top:0;
}

.side_pane .group.attributes .viewport {
    display: inline-table;
    /*width: 100%;*/
    /*font-size:130%;*/
    /*border: 1px dashed orange;*/
    line-height:150%;
}

.side_pane .group.attributes .viewport .item {
    display: table-row;
}

.side_pane .group.attributes .viewport .item > .name {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    /*padding: 6px;*/
    white-space: nowrap;
}

.side_pane .group.attributes .viewport .item > .name:after {
    content: ":";
}

.side_pane .group.attributes .viewport .item .value {
    display: table-cell;
    vertical-align: middle;
    text-align:left;
    padding-left:0.5em;
}

.side_pane .group.variants {

    text-align:left;

}

.side_pane .group.variants .viewport {
    display: block;
}
.side_pane .group.variants .viewport .item {
    display:block;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
.side_pane .group.variants .viewport .item .name {
    display:inline-block;
}
.side_pane .group.variants .viewport .item .name:after {
    display:inline-block;
    content: ":";
    margin-right:0.5em;
}
.side_pane .group.variants .viewport .item .value {
    display:inline-block;
}
.side_pane .group.variants .viewport .item .list {
    display:block;
}
.side_pane .group.variants .viewport .item .parameter {
    display:inline-block;
    border:1px solid gray;
    padding:0.5em;
    margin:0.5em;
    cursor:pointer;
}
.side_pane .group.variants .viewport .item .parameter[selected] {
    border-color:var(--theme-accent-dark);
}



.side_pane .group.cart_link {

    text-align: center;
    float:right;
    min-width:10em;
    /*margin-top:0.5em;*/
    border:0;
}


.side_pane .group .button {

    padding: 0.5em;

    text-decoration: none;
    color: black;
    /*background-color:black;*/
    font-size:150%;
    text-transform:uppercase;
    text-align:left;

    display:block;
    min-width:210px;
    margin-bottom:1em;

    height:2em;

    border: 3px solid black;
    border-radius: 2em;
}
.side_pane .button .icon {
    width:2em;
    height:100%;
    background-repeat:no-repeat;
    display:inline-block;
    background-position: center center;
    background-size:contain;
    margin:0;


}

.side_pane .button LABEL {
    vertical-align: top;
    margin-top:0.35em;
    margin-left:0.5em;
    display:inline-block;
    cursor:pointer;
}

.side_pane .group .button LABEL:after {
    display:none;
}

.side_pane .button.cart_add.fast {
    border-color: var(--theme-accent);
}
.side_pane .button.cart_add.fast .icon {
    background-image:url("../images/operator.svg");
}

.side_pane .button.cart_add {

}
.side_pane .button.cart_add .icon {
    background-image:url("../images/cart.svg");
}

.side_pane .button.order_phone {

}
.side_pane .button.order_phone .icon {
    background-image:url("../images/phone_icon.svg");
}

.side_pane .button.query_product {

}
.side_pane .button.query_product .icon {
    background-image:url("../images/question_icon.svg");
}



.side_pane .group.cart_link .nostock {
    display:inline-block;
    max-width:150px;
    text-align:center;
    background-image:url("../images/notify_icon.svg");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size:15%;
    border-color: var(--theme-accent);
}
.side_pane .group.cart_link .nostock .icon {
    display:none;
}
.side_pane .group.cart_link .nostock LABEL {
    margin:0;
    font-size:80%;
    margin-left:1.7em;
}
.side_pane .group.cart_link .nostock LABEL:after {
    display:none;
}

.side_pane .group.query_product {
    display:block;

}
.side_pane .group.query_product FORM {
    display:none;
}
.side_pane .group.query_product FORM[shown='1'] {
    display:block;
}

.side_pane .group.query_product FORM [field='query'] {
    min-height:5em;
    height:5em;
}

.side_pane .summary {

}



.side_pane .group .item.color_chooser {
    display: block;
}

.side_pane .group.colors .current_color {
    display: block;
    margin-bottom: 0.5em;
}

.color_chooser .color_button {
    display: inline-block;
    border: 1px solid #cccccc;

    margin-right:0.25em;
    margin-bottom:0.25em;

    cursor: pointer;

    vertical-align: top;

    padding: 0.25em;

}

.color_chooser .color_button[active="1"] {
    outline: 1px dashed var(--theme-accent);
}

.color_chooser .color_button IMG {

    display: block;
    width: 64px;
    height: 64px;

}

.color_chooser .color_button SPAN {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.side_pane .group.sizing {

}

.size_chooser {

    display: block;
    vertical-align: top;

}

.size_chooser .value {

}

.size_chooser LABEL {
    display: block;
    margin-bottom: 0.5em;
}
.side_pane LABEL:after {
    content: ": ";
}

.side_pane .group.stock_amount LABEL {
    text-transform: uppercase;
}
.side_pane .group.stock_amount LABEL:after {
    content: "";
}

.size_chooser .product_size {

    font-size: 1em;

}
.side_pane .group.sizing .current_size {
    display: block;
    margin-bottom: 0.5em;
}
.size_chooser .size_button {
    display: inline-block;
    border: 1px solid #cccccc;

    margin-right:0.25em;
    margin-bottom:0.25em;

    cursor: pointer;

    vertical-align: top;

    padding: 0.25em;
    min-width:2em;
    box-sizing:border-box;
    text-align:center;

    font-size:160%;
}

.size_chooser .size_button[active="1"] {
    outline: 1px dashed var(--theme-accent);
}

.side_pane FORM progress {
    display:none;
}
.side_pane FORM[working='1'] progress {
    display:inherit;
}
.side_pane FORM[working='1'] button {
    display:none;
}



.tabs {
    text-align:left;
    display:block;
}
.tabs .item {
    display:block;
}

.tabs .item.description {

    /*margin-top:2em;*/
    /*margin-bottom:2em;*/
    word-break: break-word;
    /*white-space: break-spaces;*/
    font-size:1.1em;
    line-height:160%;
}
.tabs .item.description H2 {

    /*word-break: break-word;*/

    /*font-size:1.1em;*/
    /*line-height:160%;*/
    /*font-weight:inherit;*/

    display: inherit;
    font-size: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    font-weight: inherit;
    unicode-bidi: inherit;
}

.tabs .item.description IFRAME {

    margin-top:20px;
    margin-bottom:20px;
}
.tabs .item.description OBJECT {

    margin-top:20px;
    margin-bottom:20px;

}
.tabs .item.description EMBED {

    margin-top:20px;
    margin-bottom:20px;

}
.tabs .item.description IMG {
    max-width:100%;
}
    /*.side_pane .group.credit_payment {*/
/*    text-align: right;*/
/*}*/

/*.side_pane .group.credit_payment {*/

/*    text-align: right;*/
/*    float:right;*/
/*    min-width:10em;*/
/*    !*margin-top:0.5em;*!*/
/*    border:0;*/
/*    display:block;*/

/*}*/

/*.side_pane .group.credit_payment .module {*/
/*    text-align:right;*/
/*    display:inline-block;*/
/*    width:100%;*/
/*}*/

.side_pane .group.cart_link .module.UniCreditPaymentButton .button {
    border-color: red;
    padding:0.2em;
}
.side_pane .group.cart_link .module.UniCreditPaymentButton .button .icon {
    background-image:url("../images/unicredit-logo.png");
    background-repeat:no-repeat;
    background-size:contain;
    display:block;
    height:24px;
    width:100%;
}
.side_pane .group.cart_link .module.UniCreditPaymentButton .button LABEL {
    font-size:70%;
    display:block;
    width:100%;
    text-align:center;
    padding:0;
    margin:0;

}
.side_pane .group.cart_link .module.UniCreditPaymentButton .button:hover {
    background-color:red;
    color:white;
}

.side_pane .group.cart_link .module.TBICreditPaymentButton {
    border:0;
    padding:0;
    margin:0;
}
.side_pane .group.cart_link .module.TBICreditPaymentButton .button {
    border:0;
    padding:0;
    margin:0;
}

.side_pane .group:empty {
    display:none;
}

.side_pane .group.cart_link #tbiButton {
    height:51px;
    max-height:51px;
    box-sizing:border-box;
    margin-top:30px;
}

.side_pane .group.pricing {

}
.side_pane .group.pricing .price_info {
    display:inline-block;
}

.side_pane .group.pricing .price_info.left .currency {
    float:left;

}
.side_pane .group.pricing .price_info.left .old .currency {
    text-decoration: line-through;
}
