.section.main .content {
    padding: 1em;
    box-sizing: border-box;
    padding-bottom:2em;
    font-size:80%;
    display:grid;
    grid-template-rows: min-content auto;
    gap:1.5em;
}

.column.details {
    display: block;
    margin-top: 1em;
}

.Caption {
    text-align: left;
    background-color: #fafafa;
    padding-left: 2em;
}

.JSONFormDialog {
    zoom:150%;
    text-align:left;
}
.JSONFormDialog FORM {
    width:100%;
}

.JSONFormDialog FORM .TextField .Input {
    width:100%;
}
.JSONFormDialog FORM .TextArea .Input {
    width:100%;
    height:5em;
}

.JSONFormDialog[responder='OrderProductFormResponder'] {

}

.JSONFormDialog[responder='UniCreditProductFormResponder'] {

}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM [field='installmentCount']{
    display:none;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM [field='monthlyPayment']{
    display:none;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] .notice .item SPAN {
    font-weight:bold;
    white-space: nowrap;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] .unilogo {
    text-align:center;
    display:block;
    align-self: center;
}


