@media screen and (max-width: 1184px) {

    .side_pane {
        display:block;
        margin-left:0px;
        min-width:inherit;
        max-width:inherit;
        margin-bottom:20px;
    }

    .images {
        display:block;
        text-align:center;
        margin-bottom:30px;
    }
    .images .image_preview {
        width:auto;
        height:auto;
    }
    .images .image_gallery .list {
        max-width:inherit;
    }

}
@media screen and (max-width: 640px) {
    .tabs .item.description OBJECT {
        max-width:100% !important;
        width:100% !important;
    }
    .tabs .item.description IFRAME {
        max-width:100% !important;
        width:100% !important;
    }
    .tabs .item.description EMBED {
        max-width:100% !important;
        width:100% !important;
    }
    .tabs .item.description TABLE {
        max-width:100% !important;
        width:100% !important;
    }
}
@media screen and (max-width: 834px) {
    .product_details {
        display: block;
        float: none;
        margin-left: 0px;
        margin-top: 10px;
        max-width: inherit;
    }
}

@media screen and (max-width: 591px) {
    .images .image_preview {
        float: none;
        margin-left: 0px;
    }

    .image_gallery .list .item {
        display: inline-block;
        margin-right: 5px;
    }

    .image_gallery .list .item IMG {
        max-width: 55px;
        max-height: 55px;
    }
}

@media screen and (max-width: 551px) {
    .image_preview {
        display: block;
        margin-left: 0px;
        float: none;
    }

    .image_preview IMG {
        width: 100%;
    }

    .side_pane .group.pricing {
        display:block;
        text-align:center;
    }
    .side_pane .group.cart_link {
        display:block;
        text-align:center;
        float:none;

    }
    .group.cart_link .button {
        display:inline-block !important;
        max-width:70% !important;
        width:70% !important;
    }

    .side_pane .group.credit_payment {
        display:block;
        text-align:center;
        float:none;

    }

    .group.credit_payment .module {
        display:inline-block !important;
        max-width:75% !important;
        width:75% !important;
        text-align:center !important;
    }

    .group.credit_payment .module.TBICreditPaymentButton  .button table {
        width:100%;
    }
    .group.credit_payment .module.TBICreditPaymentButton .button table .tbi_button_div_old {
        width:100% !important;
    }
}
