.section.main .content {
    padding:1em;
    text-align:left;
    font-size:80%;
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-rows: auto 1fr;
    gap:1.5em;
}
.section.main .content .column {
    box-sizing: border-box;
    text-align:left;
}

/*.section.main .content .column.left:not([section='Галерия']) {*/
/*    display:none;*/
/*}*/

.section.main .content .column.left {
    margin-bottom:1em;
}

.section.main .content .column.left .panel {
    display: block;
    margin-bottom: 20px;
}

.section.main .content .column.left .panel .viewport {
    display:block;
    margin-bottom:1em;
}

.section.main .content .column.left .panel .viewport .TreeView {
    display:block;
}

.section.main .content .column.left .panel .Caption {
    color: #aaaaaa;
    font-weight: normal;
    display: block;
    padding-top:0;
    padding-bottom:0;
    text-align:left;

    cursor:pointer;
    font-size:110%;
}

.section.main .content .column.left .panel .Caption .toggle {
    width:2.2em;
    height:2.2em;
    display:none;
    /*border:1px solid red;*/

    vertical-align: text-bottom;
    /*margin-top: -4px;*/
    margin-right: 5px;

}
.panel .Caption .toggle {
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    margin-bottom:-0.2em;
    background-position:left;
}
.panel .Caption .toggle:after,
.panel .Caption .toggle:before,
.panel .Caption .toggle DIV {
    background-color: gray;
    border-radius: 3px;
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0;
}
.panel.categories .toggle:after, .panel.categories .Caption .toggle:before, .panel.categories .Caption .toggle DIV {
    display:none;
}
.panel.categories .toggle {
    background-image:url(../images/category_icon.svg);
    filter:var(--theme-filter-checkout-icon);
}
.panel.filters .toggle:after, .panel.filters .Caption .toggle:before, .panel.filters .Caption .toggle DIV {
    display:none;
}
.panel.filters .toggle {
    background-image:url(../images/filter_icon.svg);
    filter:var(--theme-filter-checkout-icon);

}
.section.main .content .column.product_list {
    /*padding-right:20px;*/
}

.TreeView .Action {
    color:black;
}

.TreeView .Node {
    font-size: 1.2em;
}


.TreeView .Node:hover {
    background-color: var(--theme-accent);
}

.TreeView .Node:hover .Handle .Button {
    filter: var(--theme-filter-colorize-white);
}

.TreeView .Node:hover .Action {
    color: white;
    font-weight:normal !important;
    text-decoration:none !important;
    font-weight:bold !important;
}

.TreeView .Node[active='1'] {
    background-color: var(--theme-accent);
}

.TreeView .Node[active='1'] .Handle .Button {
    filter: var(--theme-filter-colorize-white);
}

.TreeView .Node[active='1'] .Action {
    color: white;
    font-weight:normal !important;
    text-decoration:none !important;
    font-weight:bold !important;
}



.panel.filters FORM {
    width:100%;
}


.ItemView {
    width:100%;
    box-sizing:border-box;
    position:relative;
}

.ItemView .viewport {
    text-align:center;
    display: grid;

    align-items:center;
    justify-content: space-evenly;

    margin:0;
    padding:0;
    list-style-type:none;
    gap:1em;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}

.section.main .Caption.category_description {
    text-transform: none;
    text-align: left;
    margin:0;
    padding:0;
    color:inherit;
    font-weight:normal;
    padding-top:1em;
    padding-bottom:1em;
}

.section.main .BreadcrumbList {
    grid-column: span 2

}

.section.main .Caption.category_name {
    /*text-align:left;*/
    padding-top:0;
}
.section.main .category_description {
    padding:1em;
    font-size:120%;


    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    font-weight: inherit;
    unicode-bidi: inherit;
}
.section.main .category_description A:any-link {
    color:var(--theme-accent);
}