.SellableImageGallery {
    margin:0;
    max-width: 640px;
    width: 640px;
    overflow:hidden;
    position: relative;
    container-type: inline-size;
}

.SellableImageGallery .preview {

    position:relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    container-type: inline-size;
    transition: 0.5s ease-in-out;

}
.SellableImageGallery .preview.sliding {
    transition: none;
}

.SellableImageGallery .preview .item {

    display:grid;
    flex-shrink: 0;
}

.SellableImageGallery .preview .item IMG {
    display: block;

    box-sizing: border-box;
    object-fit: cover;
    width: calc(100cqw);
    height: calc(100cqw);
}


.SellableImageGallery .preview .arrow.prev {
    left:0;
    top:50%;
    margin-top:-25px;
    background-image:url("../../sparkfront/images/gallery_left.png");
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.SellableImageGallery .preview .arrow.next {
    right:0;
    top:50%;
    margin-top:-25px;
    background-image:url("../../sparkfront/images/gallery_right.png");
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



/**/
.SellableImageGallery .nav-arrow {
    position: absolute;
    top: calc(100cqw/2);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.2);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    /*border-radius: 50%;*/
    transition: background 0.3s;
}
.SellableImageGallery .nav-arrow:hover { background: rgba(0,0,0,0.8); }
.SellableImageGallery .nav-arrow.prev {
    left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.SellableImageGallery .nav-arrow.next {
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.SellableImageGallery .dots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
    margin-top:1em;
}
.SellableImageGallery .dots .dot {

    box-sizing: border-box;
    border:1px solid #cccccc;
    max-width:64px;
    max-height:64px;
    height:64px;
    width:64px;
    cursor:pointer;

}
.SellableImageGallery .dots .dot.active {
    border:1px solid var(--theme-accent);

}
.SellableImageGallery .dots .dot IMG {
    aspect-ratio: 1/1;
    object-fit: cover;
    display:block;
    width:100%;
    height:100%;
}
.ImagePopupPane .Footer {
    display:none;
}

.SellableImageGallery .discount_label {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--theme-accent);
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin-top:10px;
    margin-right:10px;
    display:none;
    z-index:3;
}

.SellableImageGallery.promo .discount_label {
    display:block;
}
.SellableImageGallery.nostock .discount_label {
    display:block;
}
.SellableImageGallery .blend {
    display:none;
}

.SellableImageGallery.nostock .blend  {
    display:block;
    width:100%;

    background:rgba(255,255,255,.5);
    position:absolute;
    top:0;
    left:0;

    aspect-ratio: 1/1;
    pointer-events: none;
}