* {
    font-family: 'Montserrat', 'Arial', sans-serif;
}
:root {
    --theme-accent: #ff6600;
    --theme-accent-light: #ff6600;
    --theme-accent-dark: #ff6600;
    --theme-filter-colorize-white: invert(1%) sepia(3%) saturate(594%) hue-rotate(235deg) brightness(122%) contrast(100%);
    --theme-filter-checkout-icon: invert(49%) sepia(51%) saturate(5288%) hue-rotate(2deg) brightness(104%) contrast(103%);
    --theme-filter-colorize-gray: invert(0%) sepia(0%) saturate(3463%) hue-rotate(13deg) brightness(112%) contrast(44%);
    /*red*/
    /*filter: invert(0) brightness(0.30) sepia(1) hue-rotate(310deg) saturate(10);*/
    --spark-button-background-color: var(--theme-accent);
    --spark-submit-button-background-color: var(--theme-accent);

    --spark-button-border-radius: 2em;
    --spark-button-text-transfrom: uppercase;
    --spark-button-text-color: white;
}

body {

    font-size:16px;

}

.Caption {
    color: #aaaaaa;
    padding-left:0;
    padding-right:0;
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-block-start: 0;
    margin-block-end: 0;

}
.BreadcrumbList {

}
.BreadcrumbList .BreadcrumbListItem {
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 1em;
}
.BreadcrumbList .Action {
    color: #aaaaaa;
    text-transform: uppercase;
}
.section {
    display:grid;
    /*width:100%;*/
    border-spacing:0;
    box-sizing:border-box;
    border-collapse:collapse;
    padding:0;
    border:0;
    margin:0;

    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/

    grid-template-columns: auto 1200px auto;
}
NAV UL {
    list-style-type:none;
    padding:0;
    margin:0;
    display:block;
}
.ProductsTape {
    margin-top:1em;
    text-align: center;
    display:block;
}
.ProductsTape UL {
    list-style-type:none;
    padding:0;
    margin:0;
}
.home .ProductsTape {
    font-size:80%;
}
.home .section A {
    text-decoration: none;
}

.home .section A .Caption {
    background-color:black;
    display:block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.home .section A:hover .Caption {
    color: var(--theme-accent);
}

A.Caption {
    text-decoration:none;
    color: #aaaaaa;
}
A.Caption:visited {
    color: #aaaaaa;
    text-decoration:none;
}
A.Caption:hover {
    color: var(--theme-accent);
    text-decoration:none;
}
A.Caption:active {
    color: #aaaaaa;
    text-decoration:none;
}



.section .space {
    /*display:table-cell;*/
    grid-column-start:1;
    display:inherit;
}
.section .space.left {
    grid-column-start:1;
    grid-column-end:1;
}
.section .space.right {
    grid-column-start:3;
    grid-column-end:3;
}

.content {
    grid-column-start:2;
    grid-column-end:2;


    max-width:1200px;
    /*width:1200px;*/
    white-space:normal;
    box-sizing:border-box;
    border-spacing:0;
    vertical-align: top;
    padding:0;
    margin:0;
    border:0;
}

.section.main .content {
    padding-bottom:50px;
    min-height:1024px;
}
.section.header {

}
.section.header .content {
    background-color:black;
    white-space:nowrap;
    position:relative;
    display:flex;
    flex-flow: row nowrap;

    align-items:center;
}
.section.header .content .logo {

    max-width:450px;
    min-width:450px;
    width:450px;

    height:90px;

    background-image:url("../../logo.php");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;

    background-origin:content-box;
    box-sizing:border-box;

    text-decoration:none;
}

.section.header .content .Marquee {

    background-color:inherit;
    color:grey;

    font-size: 48px;
    text-transform:uppercase;
    flex-grow: 1;
}

/**/
/* footer */
/**/
.section.footer {
    position: sticky;
    z-index:10;
    height:36px;
    max-height:36px;

    bottom:0;

}

.section.footer .content {
    background-color:black;
    color:white;

    text-align:center;
    box-shadow:0px -2px 4px  rgba(0,0,0,0.5);
    position:relative;
}

.section.footer .content .social {
    display:inline-block;

    box-sizing:border-box;
    text-align:center;

    height:36px;
    max-height:36px;
}

.section.footer .content .social A {
    text-decoration: none;
    color:white;
    filter:invert(1);
}

.section.footer .content .social A:hover {
    text-decoration: underline;
}

.section.footer .content .social .slot {

    display:inline-block;
    background-position:center center;
    background-repeat:no-repeat;
    vertical-align:top;
    background-size:cover;

    margin: 6px 10px;
}

.section.footer .content .social .slot.facebook {
    background-image:url("../images/facebook_icon.svg");
    width:24px;
    height:24px;
}

.section.footer .content .social .slot.instagram {
    background-image:url("../images/instagram_icon.svg");
    width:24px;
    height:24px;
}

.section.footer .content .social .slot.contacts {
    background-image:url("../images/mail_icon.svg");
    width:24px;
    height:24px;
}
.section.footer .content .social .slot.youtube {
    background-image:url("../images/youtube_icon.svg");
    width:24px;
    height:24px;
}
.section.footer .content .social .slot.phone {
    background-image:url("../images/phone_icon.svg");
    width:24px;
    height:24px;
}
.section.footer .content .social .slot.terms {
    background-image:url("../images/document_icon.svg");
    width:24px;
    height:24px;
}

.section.cookies {
    position: sticky;
    z-index: 11;


    bottom: 36px;

    background-color:rgba(1.0,0.0,0.0,0.8);

    display:none;
}

.section.cookies[accepted="true"] {
    display:none;
}

.section.cookies[accepted="false"] {
    display:grid;
}

.section.cookies .content {

    padding:60px;

}
.section.cookies .content .info {

    color:white;

}
.section.cookies .content .info .ColorButton {
    float:right;
}

/**/
/* menu */
/**/
.section.menu {
    position: sticky;
    top:0;
    z-index:10;
    border-top: 1px solid transparent;

}
.section.menu.sticky {
    border-top:0;
}
.section.menu.sticky .content {
    box-shadow:0px 2px 4px  rgba(0,0,0,0.5);

}

.section.menu .content {

    background-repeat:repeat-y;
    box-sizing:border-box;
    position:relative;
    background-color:#e6e6e6;
}

.section.menu .menu_groups {
    display:flex;
    align-items: center;
    justify-content: right;
    flex-grow:1;
    min-width:0;
}

.section.menu .group {
    display:flex;
    align-items: center;
    justify-content: left;
}

.section.menu .group.search_pane {
    min-width:0;
}

.section.menu .group.search_pane .KeywordSearch {
    margin:0;

    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color:white;

    display:inline-flex;
    align-items: center;
    justify-content: left;
    flex-grow:1;
    min-width:0;
}

.section.menu .group.search_pane .KeywordSearch .InputLabel {
    display:none;
}
.section.menu .group.search_pane .KeywordSearch .InputField {
    flex-direction:row;
}

.section.menu .group.search_pane .KeywordSearch .InputField INPUT {
    border:none;

}
.section.menu .group.search_pane .KeywordSearch .SubmitLine {
    width:28px;
    height:30px;

    min-width:28px;
    min-height:30px;

    max-width:28px;
    max-height:30px;
}
.section.menu .group.search_pane .KeywordSearch .SubmitLine .TextSpace {
    display:none;
}

.section.menu .group.search_pane .KeywordSearch .SubmitLine .Buttons {

}
.section.menu .group.search_pane .KeywordSearch .SubmitLine .Buttons * {
    outline:none;
    box-shadow: none;

}

.section.menu .group.search_pane .KeywordSearch .SubmitLine .Buttons [action='search'] {

    width:28px;
    height:30px;

    min-width:28px;
    min-height:30px;

    max-width:28px;
    max-height:30px;

    overflow:hidden;
    border:0;
    margin:0;

    padding:0;
    background-image:url("../images/search_icon.svg");
    background-position:center center;
    background-size:80%;
    background-repeat:no-repeat;
    background-color:transparent;
    filter: var(--theme-filter-colorize-gray);

}



.section.menu .group.customer_pane {

    white-space:nowrap;
    gap:0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
}

.section.menu .group.customer_pane .button {

    width:32px;
    height:32px;

    display:inline-block;
    vertical-align: top;
    /*border:1px solid red;*/

    cursor:pointer;

    position:relative;
    text-decoration: none;
}

.section.menu .group.customer_pane .button .icon {
    filter: invert(0.5);
    display:inline-block;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: contain;
}

.section.menu .group.customer_pane .button.account .icon {
    background-image:url("../images/user_icon.svg");
}

.section.menu .group.customer_pane .button.account.logged {

}
.section.menu .group.customer_pane .button.account.logged:after {
    display:inline-block;
    width:10px;
    height:10px;
    background-color: var(--theme-accent);
    content:' ';
    border-radius:15px;
    bottom:0;
    right:0;
    position:absolute;
}

.section.menu .group.customer_pane .button.cart {

}

.section.menu .group.customer_pane .button.cart .icon {
    background-image: url("../images/cart.svg");
}

.section.menu .group.customer_pane .button.cart[item_count] .icon {
    filter: var(--theme-filter-checkout-icon);
}

.section.menu .group.customer_pane .button.cart .items_dot {
    border-radius:15px;
    font-size:60%;
    font-weight:bold;
    background-color:black;
    color:white;
    position:absolute;
    right:-0.8em;
    top:-0.5em;
    padding:0.25em;
    width:15px;
    height:15px;
    display:inline-block;
    text-align:center;
}


.main .full .space.left {
    /*background-color:#e6e6e6;*/
}
.main .full .space.right {
    /*background-color:#e6e6e6;*/
}

.main .full .content {
    /*background-color:transparent;*/
}

.main .full .content .wrap {
    text-align:center;
}

.MainPage .main .content {

    box-sizing:border-box;

}



/*home*/
.StorePage.home .main .content {
    /*padding-top:4em;*/
}


.main .content .banners {
    display: block;
    margin-bottom: 2em;
    /*height:378px;*/

    position:relative;
    max-height:381px;
    box-sizing:border-box;
    overflow:hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main .content .banners IMG {
    width:100%;
    position:absolute;
    left:0;
    top:0;

}
.main .content .banners IMG:last-child {
    position:relative;
    vertical-align:top;
    animation: fadein 1s;
}


/* DynamicPages - content/index.php */
.DynamicPagesBean {
    display: block;
    overflow: hidden;
}

.DynamicPagesBean .photo {

    display: block;
}

.DynamicPagesBean .photo IMG {
    /*   height:160px; */
    display: block;
    width: 100%;
}

.DynamicPagesBean .PagePhotos {
    max-height: 80px;
    display: block;
}

.DynamicPagesBean .PagePhotos IMG {
    height: 80px;
    display: inline-block;
}

.DynamicPagesBean .item_title {
    font-size: 18px;
    display: block;
    padding-top: 15px;

}

.DynamicPagesBean .content {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --DynamicPages - content/index.php */

/* mce_browser */
body.mce_browser .FormRenderer {
    width: 100%;
    display: block;
}

body.mce_browser .FormRenderer .InputComponent {
    display: block;
    width: 100%;
}

body.mce_browser .FormRenderer .SubmitLine {
    display: block;
    width: 100%;
    text-align: right;
}

body.mce_browser .FormRenderer .SubmitLine .TextSpace {
    display: inline-block;

}

body.mce_browser .FormRenderer .SubmitLine .Buttons {
    display: inline-block;
}


/* You can use the clearfix to do "layout preserving" the same way overflow: hidden does */
/* add class="clearfix" class to the parent, and remove overflow: hidden; */
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* IE < 8 */


.login_component .submit_line {

}

.login_component .submit_line .forgot_password {


}

.login_component .submit_line BUTTON {
    float: right;
}

.home .section .products {

    /*margin-left: -5px;*/
    /*margin-right: -5px;*/
    text-align: center;
    margin-bottom:2em;
}
.home .section .products .ProductListItem .product_link IMG {
    /*width:280px;*/
}

.Action {
    color:black;
}
.Caption.category_path {
    padding-top:0;
}

.category_path .Action {

    font-weight: normal;
    color: #c6c6c6;
    text-decoration: none;
}

.category_path .Action:after {
    content: "//";
    padding-left: 5px;
    /*padding-right: 5px;*/
    font-size:120%;
    color: #c6c6c6;


}

.category_path .Action:last-child:after {
    display: none;

}


/*A:hover:not(*) {*/
/*    text-decoration:underline;*/
/*}*/

/*.ColorButton[action] {*/
/*    background: var(--theme-accent);*/
/*    color: white;*/
/*    -moz-border-radius: 2em;*/
/*    -webkit-border-radius: 2em;*/
/*    border-radius: 2em;*/
/*    font-weight: normal;*/
/*    text-transform: uppercase;*/
/*}*/
/*.ColorButton {*/
/*    background-color: var(--theme-accent);*/
/*    color: white;*/
/*    -moz-border-radius: 2em;*/
/*    -webkit-border-radius: 2em;*/
/*    border-radius: 2em;*/
/*    font-weight: normal;*/
/*    text-transform: uppercase;*/
/*}*/

/*.ColorButton:visited {*/
/*    !*color: #0c2226;*!*/
/*    font-weight: normal;*/
/*    text-transform: uppercase;*/
/*}*/

/*.ColorButton:hover {*/
/*    !*color: #2b7a88;*!*/
/*    font-weight: normal;*/
/*    text-transform: uppercase;*/
/*}*/

.StorePage.contacts .section.main .content {
    padding:1.5em;
    padding-bottom:5em;
}
.StorePage.contacts .section.main .content .Caption {
    text-align:left;
}

.StorePage.contacts .section.main .content .columns {
    display:table;
}
.StorePage.contacts .section.main .content .columns .column {
    display:table-cell;
    vertical-align:top;

}
.StorePage.contacts .section.main .content .columns .column.map {

}
.StorePage.contacts .section.main .content .columns .column.map .panel.map {
    width:800px;
    height:450px;

}


.StorePage.contacts .section.main .content .columns .column.map IFRAME {
    width:100%;
    height:100%;
}

.StorePage.contacts .section.main .content .details {
    display:block;
    margin-left:1.5em;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 1.5em;
    margin-bottom:1.5em;
    cursor:pointer;
}

.StorePage.contacts .section.main .content .details:hover {
    background-color:#efefef;
}

.StorePage.contacts .section.main .content .details:last-child {
    border-bottom:0;
}

.StorePage.contacts .section.main .content .details A {
    color:black;
}
.StorePage.contacts .section.main .content .details .item {
    display:block;
    line-height:1.5em;
}

.StorePage.contacts .section.main .content .details .item.city {
    font-weight:bold;
}

.StorePage.contacts .section.main .content .panel.contact_form {
    text-align:left;
}

.StorePage.contacts .section.main .content FORM .InputField.TextArea TEXTAREA {
    width:800px;
    height:200px;
}

.StorePage.contacts .content .banner {
    display:block;
    height:240px;
    background-image:url("../images/contacts_banner.jpg");
    background-position:center center;
    background-size:cover;
}

/*about*/
.StorePage.about .main .content .banner {
    display: block;
    margin-bottom: 20px;
    /*height:378px;*/

    position:relative;
    max-height:360px;
    box-sizing:border-box;
    overflow:hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.StorePage.about .main .content .banner IMG {
    width:100%;
    position:absolute;
    left:0;
    top:0;

}
.StorePage.about .main .content .banner IMG:last-child {
    position:relative;
    vertical-align:top;
    animation: fadein 1s;
}

.StorePage.about .full .content .wrap {
    text-align:left;
    padding:20px;
}

.TreeView .NodeChilds .NodeOuter {
    padding-top:0.8em;
}
.shown {

}
.hidden {
    display:none !important;
}

/*footer_page dynamic pages*/
.StorePage.terms_usage {

}
.StorePage.terms_usage .columns .column.page_data {
    text-align:left;
}
.StorePage.terms_usage .columns .column .terms_menu {
    display:block;
}
.StorePage.terms_usage .columns .column .terms_menu .item {
    display:block;
    white-space:nowrap;
    padding-bottom:10px;
    border-bottom:1px solid #eaeaea;
    padding-top:10px;
    text-decoration:none;
}

.StorePage.terms_usage .menu_links {
    display:block;
    text-align:center;
    padding:1em;
}
.StorePage.terms_usage .menu_links .item {
    display:inline-block;
    padding:0.5em;
}
.StorePage.terms_usage .page_data .page_photo {
    display:block;
}
.StorePage.terms_usage .page_data .page_photo IMG {
    display:block;
    max-width:1200px;
    width:100%;

}
.StorePage.terms_usage .page_data .summary {
    display:block;
    max-width:1200px;
    white-space: break-spaces;
    padding:0.5em;

}
.StorePage.terms_usage .page_data .summary A {
    word-break: break-word;
}
.StorePage.terms_usage .page_data .summary IMG {
    max-width:100%;
}

.section.pageFooter {



}


.section.pageFooter .content {
    background-color:#4d4d4d;
    color:white;
}
.pageFooter .columns {
    display:table;
    width:100%;
    min-height:200px;
    margin-bottom:48px;
}
.pageFooter .columns .column {
    display:table-cell;
    width:33%;
    min-width:33%;
    text-align:center;
    vertical-align: middle;
    font-size:1.2em;
    line-height:180%;
}

.pageFooter .columns .column.address  {


}
.pageFooter .columns .column.address  .space {
    font-size:0.9em;
    line-height:150%;
    padding-top:2em;
    padding-bottom:1em;
    text-align:left;
    display:inline-block;
}

.pageFooter .columns .column.address .text {
    display:block;
    text-align:left;
    min-height:2em;
    vertical-align: top;
    margin-bottom:1.5em;
}

.pageFooter .columns .column.address .text .icon {
    display:inline-block;
    width:2em;
    height:2em;
    background-size:85%;
    filter: var(--theme-filter-checkout-icon);
    background-repeat:no-repeat;
    vertical-align: top;
    background-position: center center;

}
.pageFooter .columns .column.address .text .value {
    display:inline-block;
    padding-left:0.5em;
}

.pageFooter .columns .column.address .text.phone .icon {
    background-image: url("../images/footer_phone.svg");
}
.pageFooter .columns .column.address .text.email .icon {
    background-image:url("../images/footer_mail.svg");
}
.pageFooter .columns .column.address .text.location .icon {
    background-image:url("../images/footer_location.svg");
}
.pageFooter .columns .column.address .text.working_hours .icon {
    background-image:url("../images/footer_clock.svg");
}

.pageFooter .columns .column.page_links .item {
    display:block;
    color:white;
    text-decoration:none;
}
.pageFooter .columns .column.page_links .item:hover {
    text-decoration:underline;
}

.JSONFormDialog[responder='UniCreditProductFormResponder'] {
    /*border:1px dashed red;*/
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] .notice .item SPAN {
    font-weight:bold;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] .unilogo {
    text-align:center;
    display:block;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM {
    width:100%;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM [field='installmentCount']{
    display:none;
}
.JSONFormDialog[responder='UniCreditProductFormResponder'] FORM [field='monthlyPayment']{
    display:none;
}
.contacts .section.main .content {
    min-height:800px;
}
.contacts .section.main .content .ContactsButton {

    /*margin-top:2em;*/
    margin-bottom:2em;
    /*text-align:center;*/
}


.ContentPage.pages {

}

.ContentPage.pages .menu_links {
    display:block;
    text-align:center;
    padding:1em;
}

.ContentPage.pages .menu_links .item {
    display:inline-block;
    padding:0.5em;
}

.ContentPage.pages .page_data .page_photo {
    display:block;
}

.ContentPage.pages .page_data .page_photo IMG {
    display:block;
    max-width:1200px;
    width:100%;
}

.ContentPage.pages .page_data .summary A {
    word-break: break-word;
}
.ContentPage.pages .page_data .summary IMG {
    max-width:100%;
}
H2 {
    margin:0;
}
H2 A {
    font-weight: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
}
.ErrorPage .section.main .content{
    text-align:center;
}
.ErrorPage .description {
    font-size:150%;
    padding:2em;
}