
@media screen and (max-width: 1200px) {
    .home .section.main .banner IMG {
        width:100%;
    }

    .StorePage.contacts .section.main .content {
        text-align:center;
    }
    .StorePage.contacts .section.main .content .Caption {
        text-align:center;
    }

    .StorePage.contacts .section.main .content .columns .column.addresses {
        display:block;
        text-align:center;
        margin-top:20px;
    }
    .StorePage.contacts .section.main .content .columns .column.addresses {
        text-align:center;
    }
    .StorePage.contacts .section.main .content .columns .column.addresses .details {
        display:inline-block;
        text-align:left;
        margin-top:0;
        margin-left:0;
        min-width:300px;

    }

    .StorePage.contacts .section.main .content .columns .column.map {
        display:block;
        width:100%;
        box-sizing:border-box;
    }
    .StorePage.contacts .section.main .content .columns .column.map .panel.map {
        display:block;
        width:100%;
        box-sizing:border-box;
    }
    .StorePage.contacts .section.main .content .columns {
        display:block;
        box-sizing:border-box;
    }

    .StorePage.contacts .section.main .content .BeanFormEditor {
        width:100%;
    }
    .StorePage.contacts .section.main .content .BeanFormEditor .FormRenderer {
        width:100%;
    }
    .StorePage.contacts .section.main .content FORM .InputField.TextArea TEXTAREA {
        max-width:800px;
        min-width:100%;
        width:100%;
    }

    .section {
        grid-template-columns: auto 100% auto;
    }
}

/*logo space + marque*/
@media screen and (max-width: 900px) {
    .section.header .content {
        flex-flow: column;
    }
}
/*logo space*/
@media screen and (max-width: 450px) {


    .section.header .content .logo {
        max-width:inherit;
        width: 100%;
        min-width: inherit;
        background-size:contain;
        height:7vh;
    }

    .section.header .content .Marquee {
        font-size: 28px;
    }
    .products {
        text-align:center;
    }



}

/*products tape, category navigation*/
@media screen and (max-width: 640px) {
    .ProductsTape UL {
        grid-template-columns: repeat(2, minmax(0, calc(100cqw)));
    }
}

@media screen and (max-width: 1184px) {
    .main_content.container {
        padding:20px;
    }

    .JSONFormDialog .Inner {
        width:100%;
        height:100%;
    }
    .JSONFormDialog .Content {
        flex-grow: 1;
    }

    .JSONFormDialog FORM {
        align-content: stretch;
        align-self: stretch;
        flex-grow:1;
    }
    .JSONFormDialog FORM .InputComponent[field='query'] {
        flex-grow:1;
    }
    .JSONFormDialog FORM .InputComponent[field='query'] .InputField.TextArea  {
        flex-grow:1;
    }
    .JSONFormDialog FORM .InputComponent[field='query'] .InputField.TextArea TEXTAREA {
        height:100%;
    }

}