@import url("../../sparkfront/css/mobile/MenuBar.css") (max-width: 1024px);

.MenuBar {
    height:50px;
}

.MenuBar[open] .ItemList {

}

.MenuBar .ItemList {
    background-color:#e6e6e6;
    height: 100%;
    justify-content: space-evenly;
}

.MenuBar .ItemList .Item {
    padding:0;
    margin:0;

    padding-left:1.5em;
    padding-right:1.5em;

    box-sizing:border-box;

    background-color:inherit;

    justify-content: center;
    align-items:center;
}

.MenuBar .ItemList .Item .Link {
    font-weight:normal;
    text-transform:uppercase;
    font-size:110%;
}

.MenuBar .ItemList .Item.Hover {
    background-color:inherit;
}

.MenuBar .ItemList .Item.Hover .Link {
    color:black;
}

.MenuBar .ItemList .Item.Hover {
    border-top:5px solid transparent;
    border-bottom:5px solid var(--theme-accent);
}

.MenuBar .ItemList .Item[active="1"] .Link {
    font-weight:bold;
}

.MenuBar .ItemList .Item[active="1"] {
    border-top:5px solid transparent;
    border-bottom:5px solid var(--theme-accent);
}

/*mobile*/


.MenuBar[open] .ItemList .Item {
    padding-top:0.5em;
    padding-bottom:0.5em;
}