@import url("../../sparkfront/css/mobile/MenuBarComponent.css") (max-width: 1024px);

.MenuBar {
    height:50px;
}

.MenuBar.normal .MenuBarComponent {

}

.MenuBarComponent {
    background-color:#e6e6e6;
    height: 100%;
}

.MenuBarComponent .MenuBarItemRenderer {
    padding:0;
    margin:0;

    padding-left:1.5em;
    padding-right:1.5em;

    box-sizing:border-box;

    background-color:inherit;

    justify-content: center;
    align-items:center;
}

.MenuBarComponent .MenuBarItemRenderer .MenuItemLink {
    font-weight:normal;
    text-transform:uppercase;
    font-size:110%;
}

.MenuBarComponent .MenuBarItemRenderer.Hover {
    background-color:inherit;
}

.MenuBarComponent .MenuBarItemRenderer.Hover .MenuItemLink {
    color:black;
}

.MenuBarComponent .MenuBarItemRenderer.Hover {
    border-top:5px solid transparent;
    border-bottom:5px solid var(--theme-accent);
}

.MenuBarComponent .MenuBarItemRenderer[active="1"] .MenuItemLink {
    font-weight:bold;
}

.MenuBarComponent .MenuBarItemRenderer[active="1"] {
    border-top:5px solid transparent;
    border-bottom:5px solid var(--theme-accent);
}

/*mobile*/


.MenuBar.normal .MenuBarComponent .MenuBarItemRenderer {
    padding-top:0.5em;
    padding-bottom:0.5em;
}